//GLOBAL COLORS
$blue: #0E6AA8;
$white: #ffffff;
$grey: #CFCFCF;
$black: #222;
$blue-button: #0066a3;
$light-grey: #808080;

//GLOBAL FONTS
$fontStack: "Open Sans", Georgia, serif;

//GLOBAL MIXINS
//horizontally and vertically centered
@mixin xy-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blue-button {
    -webkit-transition: .1s opacity linear;
    -moz-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    background-color: $blue-button;
    border: none;

    &:hover {
        opacity: .8;
    }
}