@import '../globals';

body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 13px;
}