@import '../globals';

/* Created for generic html elements throughout the website */

body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: $fontStack;
}

div.ui-datepicker {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 13px;
}

.fa-question-circle {
  color: $blue;
  cursor: pointer;
  font-size: 25px !important;
  vertical-align: top;
}

.tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: $black;
  text-align: center;
  background-color: $white;
  border-radius: .25rem;
  font-size: 16px;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: $white !important;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-right-color: $white !important;
}

label.error {
  color: #cc0000;
  font-weight: normal !important;
}

nav.navbar {
  background-color: #0E6AA8;
  
  ul.navbar-nav > li.nav-item > a {
    color: white;
    font-weight: 500;
  }

  li {
    font-size: 16px;
    margin-right: 35px;
  }

}

footer {
  margin-top: 200px;
}