@import '../../globals.scss';

/* Created for the forgot password page */

body {
  background-color: $grey;
}

.forgot-password-container {
  @include xy-centered;
  min-height: 80vh;
  padding-bottom: 15px;

  .forgot-password-form {
    min-height: 400px;
    width: 500px;
    background-color: $white;

    h2 {
      margin-bottom: 20px;
    }
  }

  .login-title {
    height: 100px;
    background-color: $blue;
    padding: 9px;
    margin-bottom: 50px;
    text-align: center;

    img {
      width: 250px;
      height: 81px; 
    }
  }

  .form-group {
    @include xy-centered;
    margin-bottom: 20px;

    .form-control {
      height: 45px;
    }
  }

  .submit-button[type="submit"] {
    @include blue-button;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 26px;
    font-size: 12px;
    margin: 0 auto;
  }

  .alert.alert-success {
    margin-top: 15px;
  }

}