@import '../../globals';
/* Created for the congregation scheduling page */

.cong-schedule-container {
  margin-top: 50px;
  margin-bottom: 50px;

  #congregationScheduleForm {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: bold;
  }

  label {
    font-weight: 600;
  }

  .submit-button {
    @include blue-button;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 26px;
    font-size: 12px;
    margin: 0 auto;
    margin-left: 15px;
  }

  .opacity {
    opacity: .2;
  }

  .submit {
    @include blue-button;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 26px;
    font-size: 12px;
    margin-right: 15px;
  }

  #error-container {
    color: red;
  }

  tbody th {
    font-weight: normal;
    vertical-align: middle;
  }

  thead {
    font-weight: bold;
  }

}