@import '../../globals';
/* Created for the bus driver availability page */

.bus-avail-container {
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    label {
        font-weight: 600;
    }

    #date-picker {
        margin-top: 5px;
    }

    .add-to-list {
        @include blue-button;
        cursor: pointer;
        font-weight: 500;
        padding: 13px 26px;
        font-size: 12px;
        margin: 10px 15px 25px 15px;
    }

    tbody th {
        font-weight: normal;
        vertical-align: middle;
    }

    thead {
        font-weight: bold;
    }

    .fa-minus-circle {
        color: #FE6464;
        font-size: 1.5em;
    }

    .submit {
        @include blue-button;
        cursor: pointer;
        font-weight: 500;
        padding: 13px 26px;
        font-size: 12px;
        margin: 10px 15px 25px 0px;
    }

}